h1 {
    color: red;
}
text {
    color: green;
}
h2 { 
    font-family: Arial; 
    color: blue; 
    text-decoration: underline overline;
    text-shadow: -2px 5px gray;
}
div li.moviesClass {
    color: green;
}